.container {
	width: 100%;
	min-height: 100vh;
	position: relative;
}

.headerContainer {
	height: 9vh;
	background-color: #151416;
}

.navbar {
	height: 100%;
	padding: 0 2rem;
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navLinks {
	width: 36%;
	margin-left: 310px;
}

.navLinks ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0;
}

.navLinks ul li {
	list-style: none;
	font-size: 0.95rem;
	color: #fff;
}

.navLinks ul li a {
	text-transform: uppercase;
}

.navLinks ul li a:hover {
	text-decoration: underline;
}

.logoimg {
	height: 50px;
}

.loginbtn {
	width: 150px;
	height: 40px;
	border-radius: 50px;
	background-color: #0062cb;
	color: #fff;
	font-size: 17px;
	line-height: 20px;
	padding: 8px 50px 11px;
}

.loginbtn:hover {
	opacity: 0.9;
}

.hamburger {
	display: none;
}

.hamburger {
	width: 3rem;
	height: 2rem;
	display: none;
	justify-content: center;
	align-items: center;
	position: relative;
	font-size: 30px;
	color: #fff;
}

.bannerContainer {
	background-color: #151416;
	height: 65vh;
	width: 100%;
	margin-bottom: 5.2rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.banner {
	color: #fff;
	width: 45%;
}

.bannerTitle {
	font-size: 3rem;
	position: absolute;
	width: 50%;
	margin-top: -70px;
	margin-left: 50px;
}

.bannerContent {
	font-size: 1.2rem;
	position: absolute;
	margin-top: 3.3rem;
	width: 50%;
	margin-left: 50px;
	line-height: 1.6;
}

.bannerImage {
	height: 360px;
	width: 40%;
}

.bannerImage img {
	width: 90%;
	height: 120%;
}

.footerContainer {
	width: 100%;
}

.footer {
	width: 100%;
	background-color: #151416;
	color: #fff;
	padding: 6rem 0 2rem 0;
}

.footerTop {
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.footerTop h2 {
	width: 92%;
	text-align: center;
	font-weight: 600;
	font-size: 2rem;
	margin-bottom: 3rem;
}

.footerTop a {
	padding: 14px 38px;
	background-color: #0062cb;
	color: #fff;
	border-radius: 50px;
	font-weight: 600;
}

.footerTop a:hover {
	opacity: 0.9;
}

.footerBottom {
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin: 0 auto;
	margin-top: 4rem;
}

.socialIcons {
	width: 22%;
	color: #fff;
}

.socialIcons ul {
	font-size: 0.9rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin: 0 auto;
}

.privacy {
	width: 15%;
}

.privacy ul {
	font-size: 0.9rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin: 0 auto;
}

.privacy a {
	color: #fff;
	text-transform: capitalize;
}

.privacy img {
	width: 20px;
	height: 20px;
}

.copyright {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.copyright h4 {
	text-align: center;
	font-size: 0.9rem;
	font-weight: normal;
	margin-bottom: 2rem;
	margin-left: -775px;
}

.copyright img {
	width: 6rem;
	height: 6rem;
	margin-left: -1100px;
}

@media screen and (max-width: 1200px) {
	.navLinks {
		width: 42%;
	}

	.bannerImage {
		width: 35%;
	}

	.bannerImage img {
		width: 100%;
		height: 100%;
	}

	.bannerContainer {
		margin-bottom: 0;
	}

	.socialIcons {
		width: 25%;
	}
}

@media screen and (max-width: 946px) {
	.navLinks {
		display: none;
	}
	.loginbtn {
		display: none;
	}
	.socialIcons {
		width: 28%;
	}

	.privacy {
		width: 20%;
	}
}

@media screen and (max-width: 768px) {
	.hamburger {
		display: block;
	}
	.bannerTitle {
		font-size: 2rem;
		z-index: 999;
		width: 50%;
		margin-left: 30px;
	}
	.bannerContent {
		margin-top: 3.1rem;
		margin-left: 30px;
	}
	.bannerContainer {
		width: 100%;
	}

	.bannerImage {
		width: 56%;
		height: 100%;
	}
	.bannerImage img {
		margin-left: 0;
	}

	.socialIcons {
		width: 35%;
	}

	.privacy {
		width: 25%;
	}
	.copyright h4 {
		margin-left: -255px;
	}
	.copyright img {
		margin-left: -600px;
	}
}

@media screen and (max-width: 425px) {
	.bannerTitle {
		font-size: 2rem;
		margin-bottom: 1rem;
		width: 100%;
	}

	.bannerContainer {
		flex-direction: column-reverse;
		min-height: 80vh;
		width: 100%;
	}

	.banner {
		width: 100%;
		text-align: center;
	}

	.bannerImage {
		margin-top: 10px;
		margin-left: -85px;
		width: 120%;
	}
	.bannerImage img {
		width: 100%;
		height: 75%;
		margin-top: 10px;
	}
	.bannerContent {
		font-size: 0.9rem;
		width: 85%;
		margin: 0 auto;
		line-height: 1.6;
	}

	.socialIcons {
		width: 80%;
		margin: 0 auto;
	}

	.privacy {
		width: 100%;
		margin: 1rem auto;
	}
	.footerTop {
		margin: 3rem auto;
	}
	.footerBottom {
		display: flex;
		flex-direction: column;
	}

	.copyright h4 {
		margin-left: 0;
	}
	.copyright img {
		margin-left: 0;
	}
}
